html,
body {
  background-color: rgb(207, 207, 207);
  font-family: "Hina Mincho", serif;
}
body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;

  height: 20rem;
}

.header-text {
  color: rgb(202, 5, 5);
  font-size: 8rem;
  font-weight: 200;
  text-shadow: 2px 1px rgb(0, 0, 0);

  font-family: "Kaisei HarunoUmi", serif;
}

.sub-text {
  text-shadow: 2px 1px rgb(255, 255, 255);
  font-size: 4.5rem;
  color: rgb(43, 43, 43);
  margin-top: 3rem;
  outline: 8px;
  outline-color: rgb(0, 0, 0);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  font-size: 2rem;
  color: rgb(179, 0, 0);
  text-shadow: 1px 1px rgb(177, 177, 177);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: rgb(190, 190, 190);
}
.nav-link {
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  margin: 2rem 0;
}

.nav-link:hover {
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.image-wrapper img {
  height: 25rem;
  width: auto;
  margin: 2rem;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
}

.bkg-img {
  position: fixed;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;
}
.photo-text {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 1px 1px rgb(255, 255, 255);
  color: black;
}
.image-wrapper2 img {
  height: 35rem;
  width: auto;
  margin: 1.5rem;
}

.image-wrapper2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-self: center;
  padding: 2rem 0;
}
.image-wrapper3 img {
  height: 50rem;
  width: auto;
  margin: 1.5rem;
}

.image-wrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2rem 0;
}
